<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Electronic Realtime Poll written in Go</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <style type="text/css"> h2 { margin: 2em 0em; }  .ui.container { padding-top: 5em; padding-bottom: 5em; } </style>
    <script type="text/javascript">function vote(option){$.post( "/", {option}, ( data ) => {  $('.mini.modal').modal('show');});}</script>
</head>
<body>
   <div class="ui container">
       <h2 class="ui header">Pick Your Favorite TV Show</h2><br/>
       <div class="ui four column grid link cards">
               <div class="card" onclick="vote('game_of_thrones')">
                   <div class="image">
                       <img src="https://ae01.alicdn.com/kf/HTB14Vk7NFXXXXazXpXXq6xXFXXXg/Wall-pictures-Game-of-Thrones-Painting-Art-Silk-Poster-canvas-print-Custom-Print-your-image-Poster.jpg">
                   </div>
                   <div class="content">
                       <div class="header">Game of Thrones</div>
                       <div class="meta">
                           <a>HBO</a>
                       </div>
                   </div>
                   <div class="extra content">
                      <span class="right floated"> Since 2011
                      </span>
                      <span>
                        <i class="tv icon"></i> 67 Episodes
                      </span>
                   </div>
               </div>
               <div class="card" onclick="vote('the_walking_dead')">
                   <div class="image">
                       <img src="https://zonaseries.es/wp-content/uploads/2017/08/the-walking-dead-127-poster.jpg">
                   </div>
                   <div class="content">
                       <div class="header">The Walking Dead</div>
                       <div class="meta">
                           <a>AMC</a>
                       </div>
                   </div>
                   <div class="extra content">
                          <span class="right floated"> Since 2010
                          </span>
                       <span>
                            <i class="tv icon"></i> 107 Episodes
                          </span>
                   </div>
               </div>
               <div class="card" onclick="vote('stranger_things')">
                   <div class="image">
                       <img src="https://www.cinemamontreal.com/html/images/posters/1000x1500/43/stranger-things-tv-us-poster.jpg">
                   </div>
                   <div class="content">
                       <div class="header">Stranger Things</div>
                       <div class="meta">
                           <a>Netflix</a>
                       </div>
                   </div>
                   <div class="extra content">
                        <span class="right floated"> Since 2016
                        </span>
                       <span>
                           <i class="tv icon"></i> 17 Episodes
                       </span>
                   </div>
               </div>
               <div class="card" onclick="vote('mr_robot')">
                   <div class="image">
                       <img src="https://i.jeded.com/i/mr-robot-third-season.92273.jpg">
                   </div>
                   <div class="content">
                       <div class="header">Mr. Robot</div>
                       <div class="meta">
                           <a>USA Network</a>
                       </div>
                   </div>
                   <div class="extra content">
                       <span class="right floated"> Since 2015
                       </span>
                       <span>
                          <i class="tv icon"></i> 32 Episodes
                       </span>
                   </div>
               </div>
       </div>
   </div>

   <div class="ui modal mini">
       <div class="header">TV Show Poll</div>
       <div class="content">
           <p>Vote sent <strong>successfully</strong>, check the realtime results <a href="/results">here!</a></p>
       </div>
       <div class="actions">
           <div class="ui cancel button blue">Close</div>
       </div>
   </div>
</body>
</html>